# Local / test overrides (Lambdas receive these from CDK at deploy time)
ORDERS_TABLE_NAME=CloudCartOrders
IDEMPOTENCY_TABLE_NAME=CloudCartIdempotency
ORDER_PROCESSING_QUEUE_URL=https://sqs.REGION.amazonaws.com/ACCOUNT/CloudCartOrderProcessingQueue
PAYMENT_FAILURE_RATE=0.2
# For tests: success | failure_retry | failure_permanent
PAYMENT_FORCE_RESULT=
